// Color
$first-primary-color: #3D464D;
$text-blur-color: #6C757D;
$second-primary-color: #FFD333;
$second-primary-hover: #ffc800;
$sub-bg-color: #FFFFFF;
$main-bg-color: #F5F5F5;
$text-color: black;
$focus-white-btn-color: #dfdfdf;
$input-placeholder-color: #ced4da;
$input-focus-color: #495057;
$input-border-color-focus: #ffefb3;
$input-border-color: #ced4da;
$dropdown-text-color: rgba(0, 0, 0, 0.5);
$dropdown-text-hover-color: rgba(0, 0, 0, 0.7);
$dropright-bg-hover-color: #f8f9fa;
$background-opacity-image: rgba(61, 70, 77, 0.5);
// Distance & size
$body-width-flud: 95%;