
@import 'constant';

// Top Tool Bar
.top-toolbar__toolbar-container {
    height: 40px;
    background-color: $main-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.toolbar__wrapper-toolbar--flud-center {
    width: $body-width-flud;
    display: flex;
    justify-content: space-between;
}
.top-toolbar__toolbar-left--wrapper,
.toolbar__toolbar-right--wrapper {
    display: flex;
    margin: 0;
    width: 100%;
    gap: 10px;
}
.toolbar__toolbar-right--wrapper {
    justify-content: flex-end;
}
.top-toolbar__toolbar-pattern--left-side {
    display: flex;
    flex-basis: 20%;
}
.top-toolbar__toolbar-pattern--right-side {
    display: flex;
    flex-basis: 20%;
    font-size: 0.875rem;
}
.right-menu__button-dropdown {
    position: relative;
    white-space: nowrap;
    border: none;
    padding: 7px 20px 7px 7px;
    background-color: $sub-bg-color;
    cursor: pointer;
}
.right-menu__button-dropdown:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $text-color;
    content: "";
    position: absolute;
    top: 12px;
    right: 4px;
}
.right-menu__dropdown-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $sub-bg-color;
    min-width: 7rem;
    padding: 5px 0px 5px 5px;
    right: 0;
    top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.right-menu__button-dropdown-focus {
    background-color: $focus-white-btn-color;
}
.dropdown-item {
    padding: 0.3rem 1rem;
}
.toolbar__toolbar-item--relative {
    position: relative;
}
.toolbar__toolbar-item--text {
    color: $text-blur-color;
    display: flex;
    align-items: center;
}

// Center Tool Bar
.center-toolbar__container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $sub-bg-color;
}
.center-toolbar__left-side,
.center-toolbar__center,
.center-toolbar__right-side {
    display: flex;
    align-items: center;
    padding: 5px 0;
    flex-basis: 30%;
}
.center-toolbar__left-side {
    justify-content: flex-start;
}
.center-toolbar__center {
    justify-content: center;
}
.center-toolbar__right-side {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.left-side__logo--multi span {
    padding: 0 10px;
    background-color: $first-primary-color;
    color: $second-primary-color;
    font-weight: 700;
    font-size: 2.5rem;
}
.left-side__logo--shop span {
    padding: 0 10px;
    background-color: $second-primary-color;
    color: $first-primary-color;
    font-weight: 700;
    font-size: 2.5rem;
}

.center__search-input {
    height: 38px;
    width: 100%;
    display: flex;
}
.center__search-input--input {
    flex: 1;
    align-self: stretch;
    padding-left: 5px;
    font-size: 1rem;
}
.center__search-input--input::placeholder{
    color: $input-placeholder-color;
    font-weight: 400;
    font-size: 1rem;
}
.center__search-input--input:focus {
    color: $input-focus-color;
    background-color: $sub-bg-color;
    outline: 0;
    box-shadow: none;
    border: 1px solid $input-border-color-focus;
}
.center__search-input--button {
    padding: 0 13px;
    border: 1px solid $input-border-color;
    border-left: none;
    cursor: pointer;
    background-color: $sub-bg-color;
}
.center__search-input--button:hover {
    background-color: $main-bg-color;
}
.center__search-button-icon--search {
    color: $second-primary-color;
    font-weight: 900;
    font-size: 1rem;
}
.center-toolbar__right-side {
    flex-direction: column;
}
.right-side__text {
    color: $text-blur-color;
}
.right-side__number {
    color: $first-primary-color;
    font-weight: 500;
    font-size: 1.25rem;
}

// Bottom toolbar
.bottom-toolbar__container {
    min-height: 65px; //todo remove this
    background-color: $first-primary-color;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    .toolbar__wrapper-toolbar--flud-center {
        align-items: center;
    }
}
.bottom-toolbar__menu-pattern--left-side {
    display: flex;
    align-items: center;
}
.bottom-toolbar__menu-pattern--left-side {
    flex-basis: 25%;
    background-color: $second-primary-color;
    height: 100%;
    cursor: pointer;
    position: relative;
    align-items: stretch;
}
.bottom-toolbar__menu-pattern--left-side:hover {
    background-color: $second-primary-hover;
}
.left-pattern__categories--dropdown {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex: 1;
    align-items: center;
}

.bottom-toolbar__menu-pattern--right-side {
    display: flex;
    align-items: stretch;
    flex: 1;
    height: 100%;
}
.right-pattern__menu-item--left-side {
    padding: 0 30px;
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: stretch;
}
.right-pattern__menu-item--left-side li {
    display: flex;
    align-items: center;
}
.dropdown-title {
    color: $first-primary-color;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 8px;
}
.left-pattern__categories--dropdown::after {
    top: 43%;
    right: 30px;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
}
.left-pattern__dropdown-panel {
    position: absolute;
    top: 65px;
    background-color: $sub-bg-color;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $main-bg-color;
    animation: fadeIn 1s ease-in both;
    animation-delay: 4s;
}
.dropdown-panel__container {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.dropdown-panel__item {
    color: $dropdown-text-color;
    padding: 10px 30px;
    border-bottom: 1px solid $main-bg-color;
}
.dropdown-panel__item:nth-last-child(1) {
    border-bottom: none;
}
.dropdown-panel__item:hover {
    color: $dropdown-text-hover-color
}
.menu-pattern__menu-item--link {
    color: $main-bg-color;
}
.menu-pattern__menu-item--link:hover,
.menu-pattern__menu-item--active {
    color: $second-primary-color;
}
.arrow-right {
    position: relative;
}
.arrow-right::after{
    top: 43%;
    right: 30px;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(-45deg);
}
.arrow-down--white {
    position: relative;
}
.arrow-down--white:hover::after {
    border-color: $second-primary-color;
}
.arrow-down--white::after{
    top: 30%;
    right: -10px;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 2px solid $sub-bg-color;
    border-bottom: 2px solid $sub-bg-color;
    transform: rotate(45deg);
}
.arrow-down::after{
    top: 43%;
    right: 30px;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
}
.dropright-panel__container {
    position: absolute;
    right: -172px;
    top: 0;
    border: 1px solid $main-bg-color;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
}
.dropright-panel__item {
    padding: 10px 30px;
    color: $dropdown-text-color;
}
.dropright-panel__item:hover {
    background-color: $dropright-bg-hover-color;
}
.dropdown-panel__item--dropright:hover {
    .dropright-panel__container {
        display: flex;
    }
}
.menu-pattern__menu-item--dropdown {
    margin-right: 10px;
}
.menu-pattern__menu-item--wrapper:hover {
    .menu-item__dropdown-box--hover {
        display: flex;
    }
}
.menu-pattern__menu-item--wrapper {
    position: relative;
    
}
.menu-item__dropdown-box--hover {
    top: 65px;
    position: absolute;
    background-color: $second-primary-color;
    padding: 5px 0;
    flex-direction: column;
    display: none;
}
.menu-item__dropdown-item--link {
    white-space: nowrap;
    padding: 3px 30px;
    cursor: pointer;
}
.menu-item__dropdown-item--link:hover {
    background-color: $dropright-bg-hover-color;
}

//right menu
.right-pattern__menu-item--right-side {
    display: flex;
    align-items: stretch;
    gap: 15px;
}
.right-pattern__item {
    display: flex;
    align-items: center;
}
.right-pattern__icon {
    color: $second-primary-color;
    cursor: pointer;
}
.right-pattern__number {
    width: 20px;
    height: 20px;
    border: 1px solid $sub-bg-color;
    border-radius: 50%;
    font-size: 0.9rem;
    text-align: center;
    color: $sub-bg-color;
    margin-left: 5px;
    cursor: pointer;
}