// Color
$first-primary-color: #3D464D;
$text-blur-color: #6C757D;
$second-primary-color: #FFD333;
$second-primary-hover: #ffc800;
$sub-bg-color: #FFFFFF;
$main-bg-color: #F5F5F5;
$text-color: black;
$focus-white-btn-color: #dfdfdf;
$input-placeholder-color: #ced4da;
$input-focus-color: #495057;
$input-border-color: #ffefb3;

// Distance & size
$body-width-flud: 95%;

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
// Top Tool Bar
.top-toolbar__toolbar-container {
    height: 40px;
    background-color: $main-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.toolbar__wrapper-toolbar--flud-center {
    width: $body-width-flud;
    display: flex;
    justify-content: space-between;
}
.top-toolbar__toolbar-left--wrapper,
.toolbar__toolbar-right--wrapper {
    display: flex;
    margin: 0;
    width: 100%;
    gap: 10px;
}
.toolbar__toolbar-right--wrapper {
    justify-content: flex-end;
}
.top-toolbar__toolbar-pattern--left-side {
    display: flex;
    flex-basis: 20%;
}
.top-toolbar__toolbar-pattern--right-side {
    display: flex;
    flex-basis: 20%;
    font-size: 0.875rem;
}
.right-menu__button-dropdown {
    position: relative;
    white-space: nowrap;
    border: none;
    padding: 7px 20px 7px 7px;
    background-color: $sub-bg-color;
    cursor: pointer;
}
.right-menu__button-dropdown:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $text-color;
    content: "";
    position: absolute;
    top: 12px;
    right: 4px;
}
.right-menu__dropdown-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $sub-bg-color;
    min-width: 7rem;
    padding: 5px 0px 5px 5px;
    right: 0;
    top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.right-menu__button-dropdown-focus {
    background-color: $focus-white-btn-color;
}
.dropdown-item {
    padding: 0.3rem 1rem;
}
.toolbar__toolbar-item--relative {
    position: relative;
}
.toolbar__toolbar-item--text {
    color: $text-blur-color;
    display: flex;
    align-items: center;
}

// Center Tool Bar
.center-toolbar__container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $sub-bg-color;
}
.center-toolbar__left-side,
.center-toolbar__center,
.center-toolbar__right-side {
    display: flex;
    align-items: center;
    padding: 5px 0;
    flex-basis: 30%;
}
.center-toolbar__left-side {
    justify-content: flex-start;
}
.center-toolbar__center {
    justify-content: center;
}
.center-toolbar__right-side {
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.left-side__logo--multi span {
    padding: 0 10px;
    background-color: $first-primary-color;
    color: $second-primary-color;
    font-weight: 700;
    font-size: 2.5rem;
}
.left-side__logo--shop span {
    padding: 0 10px;
    background-color: $second-primary-color;
    color: $first-primary-color;
    font-weight: 700;
    font-size: 2.5rem;
}

.center__search-input {
    height: 38px;
    width: 100%;
    display: flex;
}
.center__search-input--input {
    flex: 1;
    align-self: stretch;
    padding-left: 5px;
    font-size: 1rem;
}
.center__search-input--input::placeholder{
    color: $input-placeholder-color;
    font-weight: 400;
    font-size: 1rem;
}
.center__search-input--input:focus {
    color: $input-focus-color;
    background-color: $sub-bg-color;
    outline: 0;
    box-shadow: none;
    border: 1px solid $input-border-color;
}
.center-toolbar__right-side {
    flex-direction: column;
}
.right-side__text {
    color: $text-blur-color;
}
.right-side__number {
    color: $first-primary-color;
    font-weight: 500;
    font-size: 1.25rem;
}

// Bottom toolbar
.bottom-toolbar__container {
    min-height: 65px; //todo remove this
    background-color: $first-primary-color;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    .toolbar__wrapper-toolbar--flud-center {
        align-items: center;
    }
}
.bottom-toolbar__menu-pattern--left-side,
.bottom-toolbar__menu-pattern--right-side {
    display: flex;
    align-items: center;
}
.bottom-toolbar__menu-pattern--left-side {
    flex-basis: 25%;
    background-color: $second-primary-color;
    height: 100%;
    cursor: pointer;
}
.bottom-toolbar__menu-pattern--left-side:hover {
    background-color: $second-primary-hover;
}
.left-pattern__categories--dropdown {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex: 1;
    align-items: center;
}

.bottom-toolbar__menu-pattern--right-side {
    flex: 1;
    height: 100%;
}
.right-pattern__menu-item--left-side {
    padding: 0 30px;
    flex: 1;
}
.right-pattern__item {}
.dropdown-title {
    color: $first-primary-color;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 8px;
}
.left-pattern__categories--dropdown::after {
    top: 35%;
    right: 30px;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
}
